body {
    font-family: 'Poppins', sans-serif; 
    background-color: var(--bg-color); 
    color: var(--text-color); 
}

.navbar {
    position: fixed;
    background-color: var(--navbar-bg); 
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1040;
}


.navbar-nav .nav-link,
.navbar .btn,
.navbar .bi {
    color: var(--navbar-text) !important; 
}

.navbar-brand {
    position: fixed; 
    top: 10px; 
    left: 50%; 
    transform: translateX(-50%); 
    z-index: 1050; 
}

.dropdown-item:hover { 
    background-color: #000000;
    color:#ffffff;
}

#searchContainer .form-control {
    position: relative; 
    border-radius: 20px; 
    border: none; 
    box-shadow: none; 
    margin: auto; 
    opacity: 1; 
    transition: width 0.3s, opacity 0.3s; 
    width: 117px; 
    font-size: 13px; 
}
.light-mode #searchContainer .form-control { 
    border: 1px solid #000000;
}

.light-mode .dropdown-menu {    
    background-color: #a0a0a0; 
}
.light-mode .dropdown-item { 
    background-color: #a0a0a0;
    color:#ffffff;
}
.light-mode .dropdown-item:hover{
    background-color: #ffffff;
    color: #000000;
}

#doprdownPerson {
    min-width: auto; 
    width: fit-content; 
    padding: 5px 5px; 
}

.small-dropdown {
    min-width: auto;   
    padding: 10px; 
}

:root {
    --bg-color: #000000;
    --text-color: #ffffff;
    --navbar-bg: #000000;
    --navbar-text: #ffffff;
}

.light-mode {
    --bg-color: #ffffff; 
    --text-color: #000000; 
    --navbar-bg: #ffffff; 
    --navbar-text: #000000; 
}

#carouselBanner {
    max-width: 100%;
    margin: auto;
    overflow: hidden;
    margin-top: 20px;
}

.carousel.item img{
    max-height: 400px;
    object-fit: cover;
}