body {
    font-family: 'Poppins', sans-serif; 
    background-color: var(--bg-color); 
    color: var(--text-color); 
}

.navbar {
    position: fixed;
    background-color: var(--navbar-bg); 
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1040;
}


.navbar-nav .nav-link,
.navbar .btn,
.navbar .bi {
    color: var(--navbar-text) !important; 
}

.navbar-brand {
    position: fixed; 
    top: 10px; 
    left: 50%; 
    transform: translateX(-50%); 
    z-index: 1050; 
}

.dropdown-item:hover { 
    background-color: #000000;
    color:#ffffff;
}

#searchContainer .form-control {
    position: relative; 
    border-radius: 20px; 
    border: none; 
    box-shadow: none; 
    margin: auto; 
    opacity: 1; 
    transition: width 0.3s, opacity 0.3s; 
    width: 117px; 
    font-size: 13px; 
}
.light-mode #searchContainer .form-control { 
    border: 1px solid #000000;
}

.light-mode .dropdown-menu {    
    background-color: #a0a0a0; 
}
.light-mode .dropdown-item { 
    background-color: #a0a0a0;
    color:#ffffff;
}
.light-mode .dropdown-item:hover{
    background-color: #ffffff;
    color: #000000;
}

#doprdownPerson {
    min-width: auto; 
    width: fit-content; 
    padding: 5px 5px; 
}

.small-dropdown {
    min-width: auto;   
    padding: 10px; 
}

:root {
    --bg-color: #000000;
    --text-color: #ffffff;
    --navbar-bg: #000000;
    --navbar-text: #ffffff;
}

.light-mode {
    --bg-color: #ffffff; 
    --text-color: #000000; 
    --navbar-bg: #ffffff; 
    --navbar-text: #000000; 
}

#carouselBanner {
    max-width: 100%;
    margin: auto;
    overflow: hidden;
    margin-top: 20px;
}

.carousel.item img{
    max-height: 400px;
    object-fit: cover;
}

.products-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 20px;
}

.dropdown-item {
    flex: 1;
    max-width: 100%;
    background-color: #fff;
    box-shadow: none;
}

.light-mode .dropdown-item {
    border: none;
    background-color: inherit;
}

#botaoOrdenarPor {
    background-color: #000000; 
    color: rgb(255, 255, 255);
    margin: 20px;
    border-color: #fff;
    border-radius: 20px; 
    padding: 10px 15px; 
    font-weight: bold;
}

.light-mode #botaoOrdenarPor {
    background-color: #ffffff; 
    color: rgb(0, 0, 0);
    border-color: #000000;
}

.product-link {
    display: block;
    text-decoration: none;
    color: inherit;
}

.product-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.product-info {
    margin-top: 15px;
}

.product-description {
    font-size: 16px;
    color: #fff;
    margin: 10px 0;
    color: inherit;
}

.product-price {
    font-size: 18px;
    font-weight: bold;
    color: inherit;

}

.product-payment-methods {
    font-size: 12px;
    color: #a0a0a0;
}

@media (max-width: 768px) { 
    .products-container {
        flex-direction: column;
        align-items: center;
    }

    .product-item {
        max-width: 90%;
        margin-bottom: 20px;
    }
}

.newsletter-section {
    background-color: #374151;  
    padding: 40px;
    flex-direction: column; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.newsletter-title {
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
}

.newsletter-subtitle {
    font-size: 16px;
    color: #ffffff;
}

.newsletter-form {
    display: flex;
    gap: 20px;
    justify-content:center;
    align-items: center;
    flex-wrap: nowrap;
}

.newsletter-form input {
    width: 100%; 
    max-width: 900px; 
    min-width: 300px; 
    padding: 8px;
    border-radius: 20px;
    border: 1px #000000;
}

.newsletter-form button {
    padding: 8px 15px;
    border-radius: 20px; 
    border: none;
    background-color: #000000; 
    color: white;
    transition: none;
}

.newsletter-form button:hover {
    background-color: #000000;
    color: white;
}

@media (max-width: 768px) {
    .newsletter-section {
        flex-direction: column; 
        align-items: center;
    }

    .newsletter-form {
        flex-direction: column; 
        align-items: center;
        gap: 10px; 
    }
    .newsletter-form input {
        align-items: center;
        max-width: 100%; 
        min-width: 80%; 
    }
}